html{
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    align-items: center;

}
.container{
    align-items: center;
    border: 3px solid black;
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    width: 25%;
}

.BtnOperator{
    margin-top: 5px;
    width: 50%;
}